$fontFamily: "Montserrat";
$fontSize: 14;

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98px;
$md4: 479.98;

$mainColor: #7e8890;
$darkColor: #1e2123;
$lightColor: #fff;
$lightGrayColor: #f8f8f8;
$lightGrayColor2: #bdbdbd;
$dullGray: #686868;
$dangerColor: #eb5757;
$violetColor: #664ef9;
$warningColor: #ffd54f;
$warningColorGradient: linear-gradient(
    106.06deg,
    #ffd54f 1.12%,
    #fec100 97.96%
);